body{
	padding:0;
	margin:0;

	font-family: 'Kurale', serif;
	font-family: FontAwesome;
	-moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   	/*
     	Introduced in IE 10.
     	See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   	*/
   	-ms-user-select: none;
   	user-select: none;
}
canvas{
	position: absolute;
	padding:0;
	margin:0;
}
canvas#webgl{
	z-index: 0;
}
canvas#canvas-assets{
	z-index: 1;
}
canvas#canvas-touch{
	z-index: 2;
}
#settings{
	width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    z-index: 900;
    right: 10px;
    bottom: 10px;
    /* background: white; */
    font-family: FontAwesome;
    text-align: center;
}
#settings:after{ 
	content: '\f013';
    font-size: 50px;
    line-height: 58px;
    color: rgba(255,255,255,0.5);
}  
.media img{
	width: 50px;
}
.modal-body { 
    padding: 5px;
}
#ct-3{
	min-width: 280px;
}
.tab-content p{
	padding:5px;
}
#master_volume_icon,
#master_hand_icon{
	font-size: 20px;
    background: #337ab7;
    padding: 8px;
    color: white;
    border-radius: 5px;
    margin-right: 10px;
}
#master_volume,
#master_hand{
	width:200px; 
	margin:3px;
	display: inline-block;
}
.ui-slider .ui-slider-range{
	background: rgb(51, 122, 183);
}
.ui-widget-content { 
    background: #d3ebff; 
}
 
.ad-embebed-msg{
	padding: 10px;
	margin-top:10px;
    text-align: center;
    background: #efefef;
    width: 100%;
    font-size: 14px;
    font-family: FontAwesome;
}
.cFont{
	font-family: 'Fredoka One', cursive;
}
.cFont2{
	font-family: 'Bree Serif', serif;
} 
#cplay{
	width: 100%;
	padding:10px;
	text-align: center;

}
.s_level{
	background: #e9ffb3;
}
.s_level.selected{
	background: #ccfd56;
}
.cColor1{
	color:#1b909c;
} 
.cc_l{
	font-size: 50px;
    text-align: center;
    color: #75c320;
}
#l_points{
	color: #1b909c;
}
@media (min-width: 400px){ 
	.modal-sm {
	    width: 300px;
	}
	.modal-dialog { 
	    margin: 30px auto;
	}
} 
#popup{
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: block;
    overflow: hidden;
    outline: 0;
	overflow-x: hidden;
    overflow-y: auto; 
    box-sizing: border-box;
}
#popup .cc{
	margin: 30px auto 10px auto;
	max-width: 310px;
	background:white;
    border-radius: 5px;
} 
#popup .cc .container{
	padding-top: 10px;
	padding-bottom: 10px;
}
#popup .cc2{
	padding-top: 10px;
	padding-bottom: 10px; 
	padding-left: 5px;
	padding-right: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 310px;
	height: 310px;
	background:white;
    border-radius: 5px;
} 
.btn-g-play{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#71a6ce+2,207ce5+100 */
background: #71a6ce; /* Old browsers */
background: -moz-linear-gradient(top, #71a6ce 2%, #207ce5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #71a6ce 2%,#207ce5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #71a6ce 2%,#207ce5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71a6ce', endColorstr='#207ce5',GradientType=0 ); /* IE6-9 */
color:white;
}
#pp3 img{
	position: relative;
	width:70%;
}