<template>
  <div class="content">  
    <div class="ui">
      <b-container>
        <b-row> 
          <b-form-input 
            v-model="position"
            type="text"> 
            </b-form-input>
        </b-row>
        <b-row> 
          <b-form-input v-model.number="zindex" type="number"></b-form-input>
        </b-row>
      </b-container>
    </div>
    <canvas></canvas>
    <script id="drawImage-vertex-shader" type="x-shader/x-vertex">
      attribute vec4 a_position;
      attribute vec2 a_texcoord;
       
      uniform mat4 u_matrix;
       
      varying vec2 v_texcoord;
       
      void main() {
         gl_Position = u_matrix * a_position;
         v_texcoord = a_texcoord;
      }
    </script>
    <script id="drawImage-fragment-shader" type="x-shader/x-fragment">
      precision mediump float;
 
      varying vec2 v_texcoord;
       
      uniform sampler2D u_texture;
       
      void main() {
         gl_FragColor = texture2D(u_texture, v_texcoord);
      }
    </script> 
  </div>
</template>


<script>
global.THREE = require('three'); 
global.createCamera = require('perspective-camera');
global.gl_shader = require('../assets/js/webgl/gl_shader'); 
global.m4 = require('../assets/js/webgl/m4'); 
global.gl_matrix = require('gl-matrix');  
const game_app = require('../assets/js/game_app'); 
export default {
  	name: 'Main',
  	data () {
    	return {
      		msg: 'Hola saaa', 
      		game_props:null,
          position:'',
          zindex:0,
    	}
  	},
  	mounted:function(){  
  		this.game_props = game_app(this);
  	},
  	methods:{ 
  	},
  	watch: { 
	},
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped> 
	.content canvas{
		position: relative;
		width:100%;
		height:100%;
	}
  .ui{
    position: fixed;
    display: block;
    width:200px; 
    background: rgba(255,255,255,0.5);
    z-index: 10;
  }
</style>
