<template>
  <div class="content"> 
  	<div style="position:fixed;top:0;left:0;color:white">
  		<div>mouse3D X:{{game.mouse3DX}}</div>
  		<div>mouse3D Y:{{game.mouse3DY}}</div>
  		<div>mouse3D Z:{{game.mouse3DZ}}</div>
  		<div>mouse2D X:{{game.mouse2DX}}</div>
  		<div>mouse2D Y:{{game.mouse2DY}}</div> 
  		<div>cam3DX:{{game.cam3DX}}</div>
  		<div>cam3DY:{{game.cam3DY}}</div>
  		<div>cam3DZ:{{game.cam3DZ}}</div>
  		<div>cam2DX:{{game.cam2DX}}</div>
  		<div>cam2DY:{{game.cam2DY}}</div>
  		<div>angle:{{game.angle}}</div>
  	</div>
    <canvas></canvas>
  </div>
</template>

<script>
global.THREE = require('three'); 
global.uuidv4 = require('uuid/v4'); 
const new_project = require('../assets/js/common_project'); 
const movCamera = require('../assets/js/movCamera'); 
var Shooter = require('../assets/js/players/shooter1'); 
var Player = require('../assets/js/players/player1'); 
var Bullet = require('../assets/js/bullets/bullet1'); 
global.Explosion1 = require('../assets/js/explosions/explosion1'); 
const drawGameElements = require('../assets/js/drawGameElements'); 
export default {
  	name: 'Sample3',
  	data () {
    	return {
    		msg: 'Hello Sample',
    		game:{
    			ortho:true,
    			fov:60,
	    		width:window.innerWidth,
	    		height:window.innerHeight,
	    		near:0.01,
	    		far:100,
	    		z:0.01,
	    		mouse3DX:null,
	    		mouse3DY:null,
	    		mouse3DZ:null,
	    		mouse2DX:null,
	    		mouse3DY:null,
	    		cam3DX:null,
	    		cam3DY:null,
	    		cam3DZ:null,
	    		cam2DX:null,
	    		cam2DY:null,
	    		angle:null,
    		},
    	}
  	},
  	mounted:function(){
	  	console.log("mounted 3");
	  	new_project(this);
	  	var ag = this.game; 
		function getCanvasTexture(canvas){
			if(!canvas){ 
				canvas = document.createElement('canvas');
			} 
			canvas.width=512;
			canvas.height=512;
			var ctx = canvas.getContext('2d'); 
			ctx.width = canvas.width;
			ctx.height = canvas.height;
			var canvas_texture = new THREE.CanvasTexture(canvas);
			canvas_texture._canvas = canvas; 
			canvas_texture._ctx = ctx; 
			return canvas_texture;
		}
		function getCanvasSprite(){
			var _map = getCanvasTexture();
			var spriteMaterial = new THREE.SpriteMaterial( { map: _map, transparent:true } );
			var sprite =  new THREE.Sprite(spriteMaterial);
			sprite.scale.set(512,512);
			sprite._material = spriteMaterial;
			sprite._map = _map;
			console.log(sprite); 
			return sprite;
		}
		ag.camera.position.z = 0.01;
		var canvasSprite = getCanvasSprite();
		canvasSprite.position.z=0;
		ag.scene.add(canvasSprite);

		var _canvas = canvasSprite._map._canvas;
		var _ctx = canvasSprite._map._ctx; 

		var keys = {};

		var geometry = new THREE.CircleGeometry( 10,100 );
		var material = new THREE.MeshBasicMaterial( { color: 0xffff00 } ); 
		var circle = new THREE.Mesh( geometry, material ); 
		circle.position.z =0;
		ag.scene.add( circle );  
	 	var mouse3DPosition = new THREE.Vector3(); 
	 	var mouse2DCanvasPosition = new THREE.Vector2(); 
		var mouse2DCanvasPosition_tmp = new THREE.Vector2(-999999,-999999);
	 	var cam2DCanvasPosition = new THREE.Vector2(); 


		jQuery(window).mousemove(function(evt){  
			mouse3DPosition.set(
			    (event.clientX/window.innerWidth) * 2 - 1, 
			    - (event.clientY/window.innerHeight) * 2 + 1, 
			    0.5); 
			mouse3DPosition.unproject(ag.camera);  
			mouse3DPosition.z = 0;
		});

		jQuery(window).keyup(function(evt){
			keys[evt.key] = false;
		});
		jQuery(window).keydown(function(evt){
			keys[evt.key] = true;
		});
		jQuery(function() {
		    jQuery(window).focus(function() {
		        console.log('window Focus');
		    });

		    jQuery(window).blur(function() {
		        console.log('window Blur');
		    });
		});

		var vectorDirection = new THREE.Vector2();

		function render(){ 


 			movCamera(
 				ag.camera,
 				_ctx,
 				mouse3DPosition,
 				mouse2DCanvasPosition,
 				cam2DCanvasPosition
 			);
			mouse2DCanvasPosition.x = _canvas.width/2 + mouse3DPosition.x;
			mouse2DCanvasPosition.y = _canvas.height/2 - mouse3DPosition.y;

			cam2DCanvasPosition.x = _canvas.width/2 + ag.camera.position.x;
			cam2DCanvasPosition.y = _canvas.height/2 - ag.camera.position.y;

			if(!mouse2DCanvasPosition_tmp.equals(mouse2DCanvasPosition)){
				vectorDirection.copy(mouse2DCanvasPosition).sub(cam2DCanvasPosition);
				mouse2DCanvasPosition_tmp.copy(mouse2DCanvasPosition);
			}
 
			if('mouse3DX' in ag){
				ag.mouse3DX = mouse3DPosition.x;
				ag.mouse3DY = mouse3DPosition.y;
				ag.mouse3DZ = mouse3DPosition.z;
			}
			if('mouse2DX' in ag){
				ag.mouse2DX = mouse2DCanvasPosition.x;
				ag.mouse2DY = mouse2DCanvasPosition.y; 
			}

			if('angle' in ag){
				ag.angle = Math.atan2(vectorDirection.y,vectorDirection.x)*180.0/Math.PI; 
				if(ag.angle<0){
					ag.angle = 360 + ag.angle;
				}
			}

			circle.position.copy(mouse3DPosition); 

			if('cam3DX' in ag){
				ag.cam3DX = ag.camera.position.x;
				ag.cam3DY = ag.camera.position.y; 
				ag.cam3DZ = ag.camera.position.z; 
			}
			if('cam2DX' in ag){
				ag.cam2DX = cam2DCanvasPosition.x;
				ag.cam2DY = cam2DCanvasPosition.y;  
			}
			_ctx.clearRect(0,0,	_canvas.width,	_canvas.height);
			drawUtils();
			drawGameElements(
				_ctx,
				keys,
 				mouse2DCanvasPosition,
 				cam2DCanvasPosition
 			);
			/*------------------------------------------------*/
			canvasSprite._map.needsUpdate = true;
		}
		function drawUtils(){
			_ctx.beginPath();
			_ctx.lineWidth = 2;
			_ctx.strokeStyle = "#0000FF";
			_ctx.rect(
				0,
				0,
				_canvas.width,
				_canvas.height
			);
			_ctx.stroke(); 
			/*
			_ctx.strokeRect(
				mouse2DCanvasPosition.x-15,
				mouse2DCanvasPosition.y-15,
				30,
				30
			); 


			_ctx.strokeRect(
				cam2DCanvasPosition.x-15,
				cam2DCanvasPosition.y-15,
				30,
				30
			);
			*/
		}

		ag.animation = render;

  	},
  	methods:{
  		beforeDestroy:function(){
  			console.log("beforeDestroy 2");
  		},
  	},
  	watch: {
  		$route(to, from) {
    		console.log("route change inside "+this.name);
  		},
	},
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped> 
</style>
