<template>
  <div class="content"> 
    <canvas></canvas>
  </div>
</template>

<script>
const new_project = require('../assets/js/common_project'); 
export default {
  	name: 'Sample2',
  	data () {
    	return {
    	msg: 'Hello Sample',

    	}
  	},
  	mounted:function(){
	  	console.log("mounted 2");
	  	new_project(this);
	  	var ag = this.game;
	  	function animFunc(obj){
			if(obj.step<obj.to){
				obj.step+=obj.inc;
			}else{
				obj.step = obj.from;
			}
		}
		function getFlippedAnimOpacity(obj){
			var _opacity2 = 0;
			if(obj.step<obj.flip){
				_opacity2 = obj.step/obj.flip; 
			}else{
				var _diff1 = obj.to-obj.flip;
				var _step2 = obj.to-obj.step;
				_opacity2 = _step2/_diff1;
			}
			return _opacity2;
		}
		function getCanvasNaveTexture(canvas){
			if(!canvas){ 
				canvas = document.createElement('canvas');
			}
			var effect = function(ctx){ 
				
				//------------------------------------------
				ctx.clearRect(0,0,ctx.width,ctx.height);
				//------------------------------------------
				animFunc(ctx.custom.animation1);
				var _opacity2 =  getFlippedAnimOpacity(ctx.custom.animation1);
				var _opacity = ctx.custom.animation1.step/100.0; 
				var grd3=ctx.createRadialGradient(512,512,0,512,512,400);
				grd3.addColorStop(0,`rgb(0,0,0,0)`);
				grd3.addColorStop(1,`rgb(255,255,255,${_opacity2})`);
				//------------------------------------------
				ctx.beginPath();
				ctx.fillStyle=grd3;  
				ctx.arc(512,512,Math.round(400*_opacity),0,ag.Rot360g);  
				ctx.fill();     
				//------------------------------------------
				ctx.save();
				var _rad = 100;
				var _dist = 400;
				ctx.beginPath();
				ctx.strokeStyle="#FFFFFF";
				ctx.lineWidth=20;  
				ctx.arc(
					ctx.width/2 + _dist* ctx.custom.animation1.vUnit.x,
					ctx.height/2 + _dist* ctx.custom.animation1.vUnit.y,
					_rad,
					0,
					ag.Rot360g
				);  
				ctx.stroke(); 
				ctx.closePath();
				ctx.restore();
				//------------------------------------------
				/*
				x = (R + a · sin(n·θ)) · cos(θ) + xc

				y = (R + a · sin(n·θ)) · sin(θ) + yc
				*/
					ctx.beginPath();
				var _R = 400;
				var _a = -30;/*amplitud sinusoide*/
				var _n = 72;
				var _theta = ctx.custom.animation1.rot;
				var _xc = 512;
				var _yc = 512;
				var _sinu = 10;/*número de sinusoides en el círculo*/
				var _x,_y;
				ctx.fillStyle='#FFFFFF';
				for(var idx = 0; idx < _n; idx++){
					_theta +=2*Math.PI/_n;
					_x = (_R + _a * Math.sin(_sinu*_theta)) * Math.cos(_theta) + _xc;
					_y = (_R + _a * Math.sin(_sinu*_theta)) * Math.sin(_theta) + _yc;
					ctx.fillRect(_x,_y,30,30);
					ctx.stroke(); 
				}
				ctx.custom.animation1.rot+=ctx.custom.animation1.incRot;
				if(ctx.custom.animation1.rot>ag.Rot360g){
					ctx.custom.animation1.rot=0;
				}
				//falta la oscilación para un valor en un rango
					ctx.closePath();
				//------------------------------------------
			};
			//-----------------------------------------------------
			var ctx = canvas.getContext('2d');
			ctx.width = ctx.height = canvas.width = canvas.height = 1024; 
			canvas._ctx = ctx;
			//-----------------------------------------------------
			var canvas_texture = new THREE.CanvasTexture(canvas);
			canvas_texture._canvas = canvas;
			canvas_texture.playable = true; 
			canvas_texture.ctype = "asset_canvas_nave_texture"; 
			//-----------------------------------------------------
			var _func = function(){
				if(!ctx.custom){
					ctx.custom = {
						animation1:{
							from:0.0,
							to:100.0,
							step:0.0,
							inc:5.0,
							flip:70.0,
							angle:0,
							vUnit:new THREE.Vector2(1,0),
							rot:0,
							incRot:Math.PI/180,
						}
					};
					var grd=ctx.createRadialGradient(512,512,2,512,512,400);
					grd.addColorStop(0,"#FFA50077");
					grd.addColorStop(1,"#FFFFFF33");
					var grd2=ctx.createRadialGradient(512,512,2,512,512,400);
					grd2.addColorStop(0,"#FFA500");
					grd2.addColorStop(1,"#00000000");
					ctx.custom.gradient1 = grd;
					ctx.custom.gradient2 = grd2; 
				} 
				effect(ctx);
				canvas_texture.needsUpdate = true;
				_func2();
			};
			var _func2 = function(){
				window.setTimeout(_func,100);
			};
			_func2();
			return canvas_texture;
		}
		function getCanvasNaveSprite(){
			var _map = getCanvasNaveTexture();
			var spriteMaterial = new THREE.SpriteMaterial( { map: _map, transparent:true } );
			var nave =  new THREE.Sprite(spriteMaterial);
			nave.scale.set(2,2);
			nave._material = spriteMaterial;
			nave._map = _map;
			console.log(nave); 
			return nave;
		}
		ag.camera.position.z = 5;
		var nave = getCanvasNaveSprite();
		ag.scene.add(nave);
		ag.mousePosition = new THREE.Vector2();

		var geometry = new THREE.CircleGeometry( 0.3, 8 );
		var material = new THREE.MeshBasicMaterial( { color: 0xffff00 } );
		var circle = new THREE.Mesh( geometry, material );
		ag.scene.add( circle );

		var vUnit = new THREE.Vector3();
		var axisX = new THREE.Vector3(1,0,0);


		jQuery("canvas").mousemove(function(evt){
			ag.mousePosition.set(evt.clientX,evt.clientY);
			var _pos3D = mouse2Dto3D(ag.mousePosition,ag.camera,window.innerWidth,ag.height);
			circle.position.copy(_pos3D);
			vUnit.copy(_pos3D).sub(nave.position).normalize();
			var angle = vUnit.angleTo(axisX);
			if(vUnit.y<0){
				angle = ag.Rot360g - angle;
			}
			nave._map._canvas._ctx.custom.animation1.angle = angle;
			nave._map._canvas._ctx.custom.animation1.vUnit.set(vUnit.x,-vUnit.y); 
		});

  	},
  	methods:{
  		beforeDestroy:function(){
  			console.log("beforeDestroy 2");
  		},
  	},
  	watch: {
  		$route(to, from) {
    		console.log("route change inside "+this.name);
  		},
	},
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped> 
</style>
