<template>
  <div id="app">
    <router-view/>
    <b-container style="position:fixed;bottom:0;left:0;padding:0;width:auto">
      <b-navbar toggleable="md" type="light" variant="light"> 
        <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>  
        <b-collapse is-nav id="nav_collapse"> 
          <b-navbar-nav class="ml-auto"> 
            <b-nav-item-dropdown text="Samples" right>
              <b-dropdown-item href="#/main">Main</b-dropdown-item> 
              <b-dropdown-item href="#/sample1">Sample1</b-dropdown-item> 
              <b-dropdown-item href="#/sample2">Sample2</b-dropdown-item> 
              <b-dropdown-item href="#/sample3">Sample3</b-dropdown-item> 
            </b-nav-item-dropdown> 
          </b-navbar-nav> 
        </b-collapse>
      </b-navbar>
    </b-container>
  </div>
</template>

<script>
export default {
  name: 'App',
  data(){
    return {
      visible_menu:true,
    };
  },
  methods:{ 
      beforeDestroy:function(){
        console.log("beforeDestroy App");
      },
  },
  watch:{
    $route (to, from){
      console.log("router from => ",from);
      console.log("router to => ",to);
      if(to.name=="Main"){
        this.visible_menu = false;
      }else{
        this.visible_menu = true;
      }
    }
  } 
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50; 
}
</style>
